.chart {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
}

.chart__title, .chart__number, .chart__number-change, .chart__text {
    color: hsl(25, 47%, 15%);
}

.chart__text, .chart__number, .chart__number-change {
    margin: 0px;
}

.chart__summary {
    border-top: 1px solid hsl(28, 10%, 53%);
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.chart__text {
    font-weight: 300;
    margin-bottom: 10px;
    color: hsl(28, 10%, 53%);;
}

.chart__number {
    font-size: 25px;
}

.chart__summary-flex {
    display: flex;
    justify-content: space-between;
}

.chart__number-change {
    font-size: 15px;
}

.chart__summary-flex-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -5px;
}

.chart__bars {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: flex-end;
}

@media only screen and (min-width: 768px) {
    .chart { 
        padding-left: 25px;
        padding-right: 25px;
    }

    .chart__title {
        font-size: 2rem;
    }

    .chart__text {
        font-size: 1.2rem;
    }

    .chart__number {
        font-size: 1.8rem;
    }

}