body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color:  hsl(27, 66%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  font-family: sans-serif;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .app {
    height: 80%;
    width: 80vw;
  }
}

@media only screen and (min-width: 1280px) {

  body {
    width: 90vw;
    height: 90vh;
  }

  .app {
    width: 50vw;
  }
}